<% provide(:title, 'All Category') %>
<% if current_user.admin? %>
  <%= form_for(@word, :url=>category_words_path(@category)) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
<% end %>
