<% provide(:title, 'All Category') %>
<% if current_user.admin? %>
  <%= form_for ([@word.category, @word]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
    </div>
    <%= f.fields_for :answers do |builder| %>
      <%= render 'answers_fields', :f => builder %>
      <%= will_paginate @word.answers %>
    <% end %>
  <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
<% end %>
